<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EXPO_RUNTIME_VERSION</key>
	<string>2.1.4</string>
	<key>developmentUrl</key>
	<string>exp14ecf6de30d84bb3bf831e9b0a15887a://4e-awv.johnverrone.coffeerecipes.exp.direct:80</string>
</dict>
</plist>
